body { 
      background-color: #F2FFFC;
	  font-family: "Crimson Text", serif;
      font-size: 20px;
      
}

main h1 {
         font-size: 60px;
         background-color: #851944;
         color: #F2FFFC;
         text-align: center;
         font-family: "open sans Condensed", "arial" sans-serif;
         padding: 20px;
         margin: 0px;
         border-bottom: 10px solid black;
}

main a {
        color: #851944;
}
 
h2 {
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
}

p {
   text-align: justify;
   margin: 30px 0;
}

blockquote {
            background-color: #D3DDDA;
            padding: 16px;
            margin: 0px;
            border: 10px solid #C2CCCA;
            width: 250px;
            box-sizing: border-box;
}

strong {
        font-weight: 600;	
}

em {
	font-style: italic;
}

aside {
       background-color: #3C1D3D;
       color: #F2FFFC;
       text-align: center;
       padding: 20px;
       font-family: "Open Sans Condensed", sans-serif;
}

nav h1 {
        font-size: 30px;
        margin-bottom: 25px;
}

nav a {
       color: inherit;
}

footer {
        background-color: #000;
        color: #F2FFFC;
        padding: 20px;
}



aside a {
         color: inherit;
         font-family: "Open Sans Condensed", sans-serif;
}

aside li {
          display: inline-block;	
}

div {
     width: 720px;
     margin-left: 0;
     margin-right: 0; 
}
